/* google font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", serif;
  box-sizing: border-box;
}
/* shared styles starts */
.dark-one {
  color: rgba(14, 14, 14, 0.5);
  font-size: 14px;
  font-weight: 400;
}
.btn {
  border-radius: 8px;
  border: none;
  padding: 10px 15px;
  color: white;
}
.btn:hover {
  background-color: tomato;
}
.space-element {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section-space {
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
}
.text-center {
  text-align: center;
}
/* shared style ends */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* banners starts */
.banner-container {
  height: 70vh;
  background-color: #c6e4d6;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 80px;
}
.banner-title {
  font-weight: 500;
  font-size: 18px;
}
.banner-text {
  font-weight: 700;
  font-size: 40px;
  color: rgb(14, 14, 14);
}
.btn-explore {
  background-color: #006a50;
}
.banner-img {
  width: 320px;
}
/* vision section starts */
.feature-container {
  display: flex;
  gap: 10px;
}
.vision-box {
  padding: 15px 20px;
  border-radius: 12px;
}

/* vision section ends */

.digital-box {
  background-color: rgba(84, 144, 245, 0.2);
}
.energy-box {
  background-color: rgb(198, 228, 214);
}
.infrastructure-box {
  background-color: rgb(247, 235, 207);
}
.feature-title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.digital {
  background-color: #5490f5;
}
.energy {
  background-color: #09a15c;
}
.infrastructure {
  background-color: #ffc239;
}

/* news Section starts */
.news-hub {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  /* border: 1px solid grey; */
  gap: 40px;
}
.news-img {
  border-radius: 18px;
}
.date {
  margin-right: 20px;
}
.news-title {
  font-weight: 700;
  font-size: 26px;
}
.hub2 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}
/* news Section ends */
/* donate section starts */
.donate-box {
  display: flex;
  gap: 12px;
}
.dbox {
  font-weight: 700;
  font-size: 26px;
  width: 24%;
  background-color: whitesmoke;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  border-radius: 14px;
}
.box-2 {
  background-color: #c6e4d6;
}

.input-style {
  width: 98%;
  padding: 15px;
  margin: 20px 8px;
  text-align: center;
  border: none;
  background-color: white;
  border: 1.5px solid whitesmoke;
  height: 100%;
  border-radius: 5px;
}
.donate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* donate section ends */
/* subscribe section starts */
.subscribe-info {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 30px;
}

.width-text {
  max-width: 600px;
}
.subscribe-text {
  text-align: center;
}
.subscribe-container {
  height: 350px;
  background-color: #c6e4d6;
  border-radius: 20px;
}
.input-group {
  display: flex;
  /* min-width: ; */
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 0px 0px 4px;
  flex: 5;
  outline: none;
}

.input-group button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  border-right: none;
  background-color: #006a50;
  color: white;
  flex: 1;
}

.input-group button {
  margin-left: -2px;
}
/* subscribe section ends */
